.home-page {

    padding-block: calc($gap * 3);

    &>* {

        padding-block: calc($gap * 2);

        @include for-normal-layout {
            padding-inline: calc($gap * 3);
        }
    }

    .hero {
        background-color: #D8EFD3;
        padding-block-end: 10px;
        padding-block-start: 15px;
        text-align: center;
        padding-inline: 10px;

        @include for-normal-layout {
            padding-inline: calc($gap * 3);
        }

        img {
            max-width: 40px;

            @include for-normal-layout {
                max-width: 80px;
            }
        }

        @include for-normal-layout {
            grid-template-columns: 4fr 1fr;
            padding-block: 30px;
        }
    }

    .main {
        align-items: center;
        text-align: justify;

        @include for-normal-layout {
            grid-template-columns: 1fr 3fr;
        }

        .img-wrapper {
            grid-row: 2;
            display: flex;
            justify-content: center;

            @include for-normal-layout {
                grid-row: unset;
            }

            img {
                max-width: 100px;

                @include for-normal-layout {
                    max-width: unset;
                }

            }
        }
    }

    .img-wrapper-deco {
        img {
            max-width: 300px;
        }
    }
}