/* Breakpoint mixins */

//mobile only
@mixin for-mobile-layout {
    @media (max-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

//mobile and up
@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

//tablet and up
@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

//small desktop and up
@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin btn ($type: primary-light, $disabled: false) {
    font-size: em(18px, 15px);
    line-height: lh(28px, 18px);
    padding: em(10px, 18px) em(30px, 18px);
    border: 1px $clrPrimaryBase solid;
    border-radius: $border-radius;
    font-family: Montserrat-Regular, sans-serif;
    color: black;
    transition: background-color 0.2s;
    cursor: pointer;

    @if $type =='light' {
        background-color: $font-color-mark;
        border: unset;
    }

    &:hover {
        background-color: $clrPrimaryBase;
    }

    @if $disabled ==true {
        & {
            opacity: 0.25;
            pointer-events: none;
        }
    }

}