// Colors
$font-color: black;

$clrPrimary2: #F1F8E8;
$clrPrimary1: #fefae0;
$clrPrimaryBase: #e9edc9;
$clrPrimary-1: #ccd5ae;

// border 
$border-radius: 30px;
$gap: 10px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 690px;
$normal-breakpoint: 1110px;